@mixin core_helpers {
	@include default-helpers(
		$viewport: '',
		$min-width: false,
		$max-width: false
	);

	@include default-helpers(
		$viewport: smartphone,
		$min-width: false,
		$max-width: $smartphone-max-width
	);

	@include default-helpers(
		$viewport: phablet,
		$min-width: $phablet-min-width,
		$max-width: $phablet-max-width
	);

	@include default-helpers(
		$viewport: tablet,
		$min-width: $tablet-min-width,
		$max-width: $tablet-max-width
	);

	@include default-helpers(
		$viewport: tablet-landscape,
		$min-width: $tablet-landscape-min-width,
		$max-width: $tablet-landscape-max-width
	);

	@include default-helpers(
		$viewport: tablet-landscape-and-smaller,
		$max-width: $tablet-landscape-max-width
	);

	@include default-helpers(
		$viewport: desktop-and-larger,
		$min-width: $desktop-min-width
	);

	@include default-helpers(
		$viewport: desktop,
		$min-width: $desktop-min-width,
		$max-width: $desktop-max-width
	);

	@include default-helpers(
		$viewport: widescreen,
		$min-width: $widescreen-min-width,
		$max-width: $widescreen-max-width
	);

	@include default-helpers(
		$viewport: highroller,
		$min-width: $highroller-min-width
	);
}