@mixin core_helpers {
	@include default-helpers(
		$viewport: '',
		$min-width: false,
		$max-width: false
	);

	@include default-helpers(
		$viewport: smartphone,
		$min-width: viewport(smartphone, min-width),
		$max-width: viewport(smartphone, max-width)
	);

	@include default-helpers(
		$viewport: phablet,
		$min-width: viewport(phablet, min-width),
		$max-width: viewport(phablet, max-width)
	);

	@include default-helpers(
		$viewport: phablet-and-smaller,
		$max-width: viewport(phablet, max-width)
	);

	@include default-helpers(
		$viewport: phablet-and-larger,
		$max-width: viewport(phablet, min-width)
	);

	@include default-helpers(
		$viewport: tablet,
		$min-width: viewport(tablet, min-width),
		$max-width: viewport(tablet, max-width)
	);

	@include default-helpers(
		$viewport: tablet-and-smaller,
		$max-width: viewport(tablet, max-width)
	);

	@include default-helpers(
		$viewport: tablet-and-larger,
		$max-width: viewport(tablet, min-width)
	);

	@include default-helpers(
		$viewport: tablet-landscape,
		$min-width: viewport(tablet-landscape, min-width),
		$max-width: viewport(tablet-landscape, max-width)
	);

	@include default-helpers(
		$viewport: tablet-landscape-and-smaller,
		$max-width: viewport(tablet-landscape, max-width)
	);

	@include default-helpers(
		$viewport: tablet-landscape-and-larger,
		$max-width: viewport(tablet-landscape, min-width)
	);

	@include default-helpers(
		$viewport: desktop,
		$min-width: viewport(desktop, min-width),
		$max-width: viewport(desktop, max-width)
	);

	@include default-helpers(
		$viewport: desktop-and-smaller,
		$max-width: viewport(desktop, max-width)
	);

	@include default-helpers(
		$viewport: desktop-and-larger,
		$max-width: viewport(desktop, min-width)
	);

	@include default-helpers(
		$viewport: widescreen,
		$min-width: viewport(widescreen, min-width),
		$max-width: viewport(widescreen, max-width)
	);

	@include default-helpers(
		$viewport: widescreen-and-smaller,
		$max-width: viewport(widescreen, max-width)
	);

	@include default-helpers(
		$viewport: widescreen-and-larger,
		$max-width: viewport(widescreen, min-width)
	);

	@include default-helpers(
		$viewport: highroller,
		$min-width: viewport(highroller, min-width),
		$max-width: viewport(highroller, max-width)
	);
}