{% extends "layouts/base.twig" %}

{% block content %}
    <section id="helpers" class="fluid">
        <div class="hide--tablet-and-smaller">Hide tablet and smaller</div>
        <div class="hide--tablet-and-larger">Hide tablet and larger</div>
    </section>
{% endblock %}