@mixin default-helpers(
	$viewport: null,
	$min-width: false,
	$max-width: false
) {
	@if $viewport != null or $selector != '' {
		$viewport: '--' + $viewport;
	}

	@include breakpoint(
		$min-width: $min-width,
		$max-width: $max-width
	) {
		.clear#{$viewport} {
			clear: both !important;
		}

		.hide#{$viewport} {
			display: none !important;
		}

		.show#{$viewport} {
			display: block !important;
		}
	}
}